header {
  background-color: var(--color-primary);
}

.nav li {
  display: inline-block;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
  text-align: center;
  padding-right: 2em;
}

.icon {
  display: inline-block;
  text-align: center;
}

.logo-icon {
  height: 100px;
  text-align: left;
}

svg {
  max-width: 200px;
  display: inline-block;
}

@media only screen and (min-width: 38em) {
  .nav {
    text-align: right;
  }

  .icon {
    text-align: left;
  }

}
