.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-blue {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-b-no-border {
  border: none;
  padding: 10.5px;
}

.btn-no-border {
  border: none;
  padding: 10.5px;
}

.btn-small {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn:hover {
  background-color: #fff;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-light:hover {
  border-color: var(--color-primary-light);

  color: var(--color-primary-light);
}

.btn-ghost:hover {
  background-color: var(--color-primary);

  color: #fff;
}

.btn-blue:hover {
  border-color: var(--color-secondary);

  color: var(--color-secondary);
}
