:root {
  --color-primary: #833333;
  --color-primary-light: #bc7d84;
  --color-secondary: #9cc;
  --color-neutral: #fff;
  --color-base: #fff;

  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "EB Garamond", serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: #833333;
}

h1, h2, h3, h4, h5, h6 {
  color: #833333;
}
