.sections-figure {
  color: var(--color-primary);
  text-align: center;
  margin: auto;
  max-width: 40em;
}

.sections-figcaption {
  text-align: right;
}

.sections-blockquote {
  line-height: 1.3;
}

img {
  width: 100%;
  display: inline-block;
}

p {
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  p {
    padding-top: 10%;
  }

}
